


.wrapper,
.content {
    position: relative;
    width: 100%;
    z-index: 1;
}

.content { 
    overflow: hidden;
}

.content .section {
    background-image: url("/img_profile.JPEG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
}


.image-container .img {
    width: 40%;
    object-position: center center;
}